@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
*{
    font-family:"Montserrat", sans-serif;

}
html, body {
    background-color: #ececec;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 55px;
    color:#64158C;
    font-family: "Sedan", serif;
    margin:0;
    margin-right:20px;

}
.productPreview{
    width: 250px;
    height: 175px;

}
.productImage{
    max-width:50%;
    max-height:65%;
}
.product{

    display: flex;
    flex-direction:row;
    min-height:250;
    margin-top:20px;
    border-radius:20px;
    background-color:white;
    padding:15px;

    width:70%;
}
h2{
    width: 200px;
}
button{
    margin-left:auto;
}
.wordh1{
    color:#8C156B;
    font-family: "Sedan", serif;
}
.navigation{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 70px;
}
a{
    margin-left:20px;
    text-decoration:none;
    color:#64158C;
    font-size:20px;
}
p{
    font-size:19px;
    width:600px;
}
.productList{
    display:flex;
    flex-direction:column;
    align-items:center;
}
button {
    height:50px;
    width:100px;
    border:none;
    border-radius: 10px;
    cursor:pointer;

}
.price{
margin-left:auto;
text-align:center;

}
.productDetails{
background:white;
display:flex;
flex-direction:row;
margin-left:auto;
margin-right:auto;
margin-top:20px;
border-radius:20px;
width:70%;
height:70%;

}
.cost{
display:flex;
flex-direction:row;
padding:51px;
width:50%;



}
.productTitle *{
color:black;
font-style:normal;
margin-bottom:20px
}
.productTitle{
margin-top:20px;

}

.productDescription{
background:white;
display:flex;
flex-direction:column;
margin-left:auto;
margin-right:auto;
margin-top:20px;
border-radius:20px;
width:70%;
padding-bottom:5px;
padding-top:5px;

font-style:normal;

}

.productDescription*{
margin: 20px;
width:70%;
}
.navlink {
    margin-left: 20px;
    text-decoration: none;
    color: #64158C;
    font-size: 20px;
    cursor: pointer;

}

.filter{
 width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    font-size: 20px;
    border: none;
    background-color: #efefef;
    padding: 11px;
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
}
.review {

    padding: 10px;
    border-radius: 10px;
}

.createReview {
    display: flex;
    flex-direction: column;
}

.createReview * {
    margin: 0 !important;
    padding: 0 !important;

    font-size: 20px;
    border: none;
    padding: 11px;
    border-radius: 10px;
}

.createReview input {
    background-color: #e0e0e0;
}


.createReview textarea {
    background-color: #e0e0e0;
}

.createReview button {
    width: fit-content;
    margin-top: 10px !important;
    margin-left: auto !important;
    padding: 10px !important;
}
createReview select {
    background-color: #e0e0e0;
    padding: 5px !important;

}
.paymentCard {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;

    border-radius: 20px;
    background: white;

    padding: 10px;
}
.paymentForm{
    display:flex;
    flex-direction:column;
}
.paymentForm input{
    background-color: #e0e0e0;
    border-radius:20px;
    border:none;
    padding:5px;
}


