{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="navigation">
    <h1><span class="wordh1">Gadget</span>Mart</h1>
    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/aboutus">О нас</a>
</div>
<div class="productList">
{% for product in products %}
<div class="product">
  <img src="https://avatars.mds.yandex.net/i?id=406c0af56169ad58792b59b7c8e558644d61d227-5305509-images-thumbs&n=13"/>
    <div>
        <h2>Телефон</h2>
        <p>
            Телефон представляет собой уникальное сочетание элегантного дизайна,
            передовых технологий и высокой производительности.
            Это устройство станет незаменимым спутником в повседневной жизни,
            удовлетворяя высокие требования современных потребителей.
        </p>
    </div>
    <div class="price">
        <h3>90.990</h3>
        <button>Купить</button>
    </div>
</div>
{% endfor %}

