<style>
    *{
        font-family:Arial;
    }
    h1{
        font-size: 55px;
    }
    img{
        width: 250px;
    }
    .product{
        border: 1px black solid;
        display: flex;
        margin-top:20px;

    }
    h2{
        width: 300px;
    }
    button{
        margin-left:auto;
    }
</style>

<h1>Шоп</h1>
<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/aboutus">О нас</a>
<div  class="product" >
    <img src="https://mykaleidoscope.ru/uploads/posts/2022-08/thumbs/1660368918_43-mykaleidoscope-ru-p-lyustra-krugi-dizain-krasivo-foto-46.jpg"/>
    <div>
        <h2>Люстра</h2>
        <p>Люстра-это светильник</p>
    </div>
    <button>Купить</button>
</div>

