{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="navigation">
    <h1><span class="wordh1">Gadget</span>Mart</h1>
</div>

<div class="paymentCard">
    <h2 style="width:90%">Товар: Моноколесо</h2>
    <img class="productImage" src="/static/i.webp">
    <h2 style="width:100%">К оплате: 200 рублей</h2>
    <h3>Реквезиты для перевода:</h3>
    <h2 style="width:100%">+78005553535</h2>
    <h2 style="width:100%">Иванов И. И.</h2>
    <button>Оплатил</button>
</div>