{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="navigation">
    <h1><span class="wordh1">Gadget</span>Mart</h1>
</div>

<div class="paymentCard">
    <h2 style="width:90%">Товар: {{ product.name }}</h2>
    <img class="productImage" src="{{ product.image_url }}">
    <h2 style="width:100%">К оплате: {{ product.price }} рублей</h2>
    <h3>Реквезиты для перевода:</h3>
    <h2 style="width:100%">+789824518074</h2>
    <h2 style="width:100%">Иванов И. И.</h2>
<form class="paymentForm" method="post">
    {% csrf_token %}
    <label>Адрес доставки:</label>
    <input  name="address"required placeholder="Введите адрес">
    <label>Ваше ФИО:</label>
    <input name="name" required placeholder="Введите ФИО">
    <label>Ваш номер телефона:</label>
    <input name="number" required placeholder="Введите номер">
    <button style="margin-left:170px;">Оплатил</button>
</form>
</div>